<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/detail-hotel.css">
    <link rel="stylesheet" href="libries/fontawesome-free-6.4.0-web/css/all.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="path-frontpage page-node-type-page d-flex flex-column h-100">
    <header>
        <div class="container">
            <div class="row header">
                <div class=" logo col-3">
                    <img src="img/logo.svg" alt="">
                </div>
                <div class="col-4">
                    <form id="searchForm" action="">
                        <input placeholder="Thành phố, vị trí" type="search" id="edit-name-city" name="name-city"
                            value="" maxlength="128" class="form-search form-control" />
                        <button type="button" id="submitFromSearch"> <i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="col-2">
                    <div class=" filter">
                        <button type="button" class="btn but-filter"><i class="fa-solid fa-filter"></i><span>Bộ
                                lọc</span>
                        </button>
                    </div>

                </div>
                <div class="col-2">
                    <ul class="contact">
                        <li><a href=""><i class="fa-solid fa-arrows-spin" aria-hidden="tr"></a></i>
                        </li>
                        <li><a href=""><i class="fa-solid fa-handshake" aria-hidden="true"></a></i>
                        </li>
                    </ul>
                </div>
                <div class=" user col-1">
                    <a href=""> <i class="fa-solid fa-user" aria-hidden="trues"></i></a>

                </div>
            </div>
            <div class="main-detail">
                <h1>A25 Hotel - Đội Cấn 1</h1>
                <div class="row">
                    <div class="address col-8">
                        <a class="add" href="" target="_blank">
                            25 ngõ 379/8 Đội Cấn, Ba Đình, TP. Hà Nội
                        </a><i class="fa-solid fa-location-dot"></i>
                        <div class=" wrap row">
                            <div class="de-img col-8">
                                <a href=""><img src="img/a25-hotel-doi-can-1-10.jpg" alt="" width="100%" height="308px"></a>
                            </div>
                            <div class="de-img col-4">
                                <a href=""><img src="img/a25-hotel-doi-can-1-10.jpg" alt="" width="100%"></a>
                                <a href=""><img src="img/a25-hotel-doi-can-1-10.jpg" alt="" width="100%"></a>
                            </div>
                        </div>
                        <div class="intro">
                            <h4>Giới thiệu cơ sở lưu trú</h4>
                            <p> Tọa lạc tại một vị trí trung tâm ở thành phố Hà Nội, Khách sạn A25 Đội Cấn 1 nằm cách Hồ
                                Tây tuyệt đẹp chỉ 1 km. Khách có thể truy cập Wi-Fi miễn phí trong toàn bộ khuôn viên.
                                Trong số các dịch vụ được cung cấp (với một khoản phí) tại đây có dịch vụ đưa/đón sân
                                bay, giặt thường và giặt hấp. Khách có thể gửi hành lý miễn phí tại quầy lễ tân 24 giờ.

                                Hầu hết các phòng nghỉ đều có cửa sổ và một số nhìn ra quang cảnh thành phố. Tất cả được
                                trang bị TV truyền hình cáp và minibar. Các phòng tắm riêng đi kèm vòi sen.

                                Cách Khách sạn A25 Đội Cấn 1 chỉ 3,5 km là Văn Miếu, Quảng trường Ba Đình, Chùa Một Cột
                                và Lăng Chủ tịch Hồ Chí Minh. Hồ Hòa Kiếm, Đền Ngọc Sơn và Cầu Thê Húc cách khách sạn 5
                                km. Sân bay Quốc tế Nội Bài cách đó 45 phút lái xe.</p>
                        </div>
                    </div>
                    <div class="main-right col-4">
                        <div class=" act row">
                            <div class="col-4">
                                <i class="fa-solid fa-share"></i><span>Chia sẻ</span>
                            </div>
                            <div class="col-4">
                                <span><i class="fa-regular fa-heart"></i>Thích</span>
                            </div>
                            <div class="col-4">
                                <span><i class="fa-regular fa-eye"></i></span>
                            </div>
                        </div>
                        <form  action="" >
                            <h4>Giá phòng</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Giờ</th>
                                        <th>Giá</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center">1 Giờ</td>
                                         <td align="center">170.000đ</td>
                                         <td align="center"><button type="button">Đặt 1 Giờ</button></td>
                                    </tr>
                                    <tr>
                                         <td align="center">2 Giờ</td>
                                         <td align="center">170.000đ</td>
                                         <td align="center"><button type="button">Đặt 1 Giờ</button></td>
                                    </tr>
                                    <tr>
                                         <td align="center">3 Giờ</td>
                                         <td align="center">220.000đ</td>
                                         <td align="center"><button type="button">Đặt 1 Giờ</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>Tiện ích</h4>
                            <div class="listComfortHotel">
                                dátdfátd
                            </div>
                        </br>
                        <h4>Liên hệ</h4>
                        <p class="text-truncate" id="phoneHotel">
                            1235466
                        </p>
                        </form>
                    </div>
                </div>

            </div>
            <div class="view-header">
                <h3>Danh sách nhà nghỉ khách sạn gần đây</h3>
                <div class="view-content">
                    <div class="item-list">
                        <ul class="list-inline">
                            <li>
                                <div class="list-inline-item">
                                    <a href=""><img src="img/a25-hotel-doi-can-1-10.jpg" alt="" width="100%" ></a>
                                <div class="list-inline-item-content">
                                    <a href="">Mercy Hotel</a>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-inline-item">
                                    <a href=""><img src="img/a25-hotel-doi-can-1-10.jpg" alt="" width="100%" ></a>
                                <div class="list-inline-item-content">
                                    <a href="">Mercy Hotel</a>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-inline-item">
                                    <a href=""><img src="img/a25-hotel-doi-can-1-10.jpg" alt="" width="100%" ></a>
                                <div class="list-inline-item-content">
                                    <a href="">Mercy Hotel</a>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-inline-item">
                                    <a href=""><img src="img/a25-hotel-doi-can-1-10.jpg" alt="" width="100%" ></a>
                                <div class="list-inline-item-content">
                                    <a href="">Mercy Hotel</a>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-inline-item">
                                    <a href=""><img src="img/a25-hotel-doi-can-1-10.jpg" alt="" width="100%"></a>
                                <div class="list-inline-item-content">
                                    <a href="">Mercy Hotel</a>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-inline-item">
                                    <a href=""><img src="img/a25-hotel-doi-can-1-10.jpg" alt="" width="100%"></a>
                                <div class="list-inline-item-content">
                                    <a href="">Mercy Hotel</a>
                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</body>
<footer>
    <div class="footer-lotel row">
        <div class="more col-9">
            <ul class="">
                <li><a href="">@2022 ParisTech JSC </a></li>
                <li><a href="">Quyền riêng tư</a></li>
                <li><a href="">Điều khoản </a></li>
                <li><a href="">Tin tức </a></li>
                <li><a href="">Cẩm nang </a></li>
                <li><a href="">Liên hệ </a></li>
                <li><a href="">Về chúng tôi </a></li>
                <li><a href="">trợ giúp </a></li>
            </ul>
        </div>
        <div class="more-icon col-3">
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-tiktok"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
            </ul>
        </div>
    </div>
</footer>

</html>
