<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="css/filter.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="flight-engine">
               <div class="container">
                  <div class="tabing">
                     <div class="tab-content">
                        <div id="1" class="tab1 active">
                           <div class="flight-tab row">
                              <div class="persent-one">
                                 <b>Checkin Time</b>
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="date" name="dep" class="textboxstyle" id="dep" placeholder="From City or airport">
                              </div>
                              <div class="persent-one">
                                 <b>Checkout Time</b>
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="date" name="dep" class="textboxstyle" id="arival" placeholder="To City or airport">
                              </div>
                              <div class="persent-one">
                                 <b>Number of Childens</b>
                                 <i class="fa fa-user" aria-hidden="true"></i>
                                 <input class="textboxstyle"  type="number" value="number of adults">
                              </div>
                              <div class="persent-one">
                                 <b>Number of Childens</b>
                                 <i class="fa fa-child" aria-hidden="true"></i>
                                 <input class="textboxstyle"  type="number" value="number of children">
                              </div>
                              <div class="persent-one less-btn">
                                 <input type="Submit" name="submit" value="Search" class="btn btn-danger cst-btn" id="srch">
                              </div>
                           </div>
                           <!-- flight tab -->
                        </div>
                     </div>
                     </div>
                     <!-- tab content -->
                  </div>
                  <!-- tabbing -->
               </div>
            </div>