.form-fillter input{
    border-radius: 2px;

    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 85%;
    margin-bottom: 8px;
     float:left;
  }
  .form-group.fillter {
    width: 16%;


  }
  .fillter-search{
    margin-top:61px !important;

  }
.b-filter{

    background-color:#d93032;
    color:aliceblue;
    height: 47px;
    left: -3px;
    top: -54px;
    position: relative;
    float: right;
    border:1px solid aliceblue;
}

.b-filter:hover{
    background-color:#ff3333;
}
#fillter1{
    position: absolute;
    left: 246px !important;

}
#fillter2{
    position: absolute;
    left: 412px !important;


}
#fillter3{
    position: absolute;
    left: 578px;



}
#fillter4{
    position: absolute;
    left:773px;



}
#fillter5{
    position: absolute;
    left: 939px;


}
#search-type{
    border-radius: 2px;

    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    margin-bottom: 8px;
     float:left;
}


#price{
    width: 23%;
    margin-right: 10px;
}
